<% unless f.object.marked_for_destruction? %>
  <tr>
    <td valign="top">
      <%= f.select :starting_quantity, options_for_select(1..10, f.object.starting_quantity), {}, class: 'form-control' %>
      <%= error_message_on(f.object, :starting_quantity) %>
    </td>
    <td valign="top">
      <%= f.text_field :price, :size => 10, class: 'form-control' %>
      <%= error_message_on(f.object, :price) %>
    </td>
    <td valign="top">
      <%= f.text_field :discount_price, :size => 10, class: 'form-control' %>
      <%= error_message_on(f.object, :discount_price) %>
    </td>
    <td valign="top">
      <%= f.date_field :start_date, value: f.object.start_date, class: 'form-control' %>
      <%= error_message_on(f.object, :start_date) %>
    </td>
    <td valign="top">
      <%= f.date_field :end_date, value: f.object.end_date, class: 'form-control' %>
      <%= error_message_on(f.object, :end_date) %>
    </td>
    <td valign="top">
      <%= f.check_box :active, class: 'form-control' %>
      <%= error_message_on(f.object, :discount_price) %>
    </td>
    <td valign="top">
      <%= link_to_icon_remove_fields f %>
    </td>
  </tr>
<% end %>
